.slide-1{
	background-image:url(../img/header/pexels-photo-59519.jpeg);
}
.slide-2{
	background-image:url(../img/header/pexels-photo-27703.jpg);
}
.slide-3{
	background-image:url(../img/header/pexels-photo-93106.jpeg);
}